<% content_for :submenu do %>
  <div class="tr ps-r">
    <%= link_to "New Map", new_map_path, class: "button inline m0" %>
  </div>
<% end %>

<h1>Maps</h1>
<ul class="map-list">
<% current_user.maps.order(created_at: :desc).each do |map| %>
  <li class="map-item">
    <a href="<%= map_path(map.id) %>">
      <% if map.preview.url.nil? %>
        <div class="preview">No Preview</div>
      <% else %>
        <div class="preview" style="background-image: url('<%= map.preview.url %>')"><div></div></div>
      <% end %>
      <div class="details">
        <span class="map-title"><%= map.name %></span>
        <div>
          <span class="sub-detail"><%= map.layouts.count %> layouts</span>
          <span class="sub-detail"><%= map.players.count %> players</span>
        </div>
      </div>
    </a>
  </li>
<% end %>
</ul>
