<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakeHex</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'outofapp', media: 'all' %>
    <%= render :partial => 'shared/social_tags' %>

    <%= yield :head_tags %>
  </head>

  <body>
    <%= render :partial => "shared/header" %>
    <%= render :partial => "shared/submenu" if content_for?(:submenu) %>
    <% if !flash.empty? %>
      <div class="flash bg-blue tc white p">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_pack_tag 'outofapp', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
