<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakeHex | Easy maps for tabletop gaming</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'outofapp', media: 'all' %>

    <%= render :partial => 'shared/social_tags' %>
    <%= yield :head_tags %>
  </head>
  <body>
    <div id="nav">
      <%= link_to "Pricing", pricing_path %>
      <%= link_to "Log in →", new_session_path(User) %>
    </div>
    <%= yield %>
  </body>
</html>
